body {
  background-color: #e5e5e5;
}

.container{
  background-color: #ffffff;
  height: 2650px;
  border-radius: 5px;
}

#page-wrap {
  width: 9000px;
  margin: auto;
}

#banner {
  width: 9040px;
  height: 200px;
  border-radius: 10px;
}

.center-form {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

}

li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 3px;
  border-color: #e5e5e5;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
}

#results {
  margin-left: -30px;
  margin-top: 40px;
}

.little{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}